<mat-toolbar class="main-header">
    <mat-icon class="material-icons menu-trigger">menu</mat-icon>
    <h1><a routerLink="/">ng8-book-a-hero</a></h1>
    <span class="fill-space"></span>
    <ul>
        <li class="search-nav">
            <mat-icon routerLink="/">search</mat-icon>
        </li>
        <li class="cart-nav">
            cart
        </li>
        <li *ngIf="(user | async)?.displayName" class="user-nav">
            <img src="{{ (user | async)?.photoURL }}" class="user-photo" [matMenuTriggerFor]="userMenu">
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/">My Account</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </li>
        <li>
            <button mat-raised-button (click)="login()" *ngIf="!(user | async)?.displayName">Login</button>
        </li>
    </ul>
</mat-toolbar>
<mat-sidenav-container>
        <mat-sidenav #mobilenav  mode="over" class="mobile-nav">
            </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container> 
